.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.aside {
  grid-area: sidebar;
}

.content{
  grid-area: content;
  padding: 50px 80px;
}

.header{
  grid-area: header;
  hr{
    margin-top: 20px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.6);;
  }
}
