@import "@/app/styles/global.scss";

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.component {
  @include flex-column;
  gap: 20px;
  h1 {
    font-weight: 400;
    font-size: 30px;
    color: #000;
  }

  a {
    max-width: 290px;
    font-weight: 400;
    font-size: 22px;
    color: #616161;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: -5px;
    width: 100px;
    font-weight: 400;
    font-size: 22px;
    color: #616161;
  }
}
