.sidebar {
  background: #3b4658;
  position: fixed;
  height: 100vh;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #FFFFFF;
  transition: width 0.3s ease;
  width: 300px;
  overflow: hidden;
  h1 {
    font-weight: 300;
    font-size: 25px;
    color: #fff;
  }
}
