@import "@/app/styles/global.scss";

.sidebar {
  background: #3b4658;
  position: fixed;
  height: 100vh;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #FFFFFF;
  width: 300px;
  overflow: hidden;

  h1 {
    font-weight: 300;
    font-size: 25px;
    color: #fff;
  }

  .main_list {
    @include flex-column;
    gap: 20px;
  }

  .secondary_list {
    margin-top: 10px;
    @include flex-column;
    gap: 10px;
  }

  .main_link {
    @include flex-center;
    gap: 15px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
  }

  .secondary_link {
    margin-left: 49px;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
  }
}
